<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credential</title>
</head>
<body>
<form action="" method="post">
    {%csrf_token%}
    <input type="text" placeholder="Enter user name" name="username"><br>
    <input type="email" placeholder="Enter user email" name="email"><br>
    <input type="password" placeholder="Enter user password" name="password"><br>
     <input type="password" placeholder="Renter user password" name="passwordd"><br>
    <a href="{%url 'login' %}"><input type="submit" ></a><br>

{%for i in messages%}
    {{i}}
    {%endfor%}
</form>
</body>
</html>